!./.idea/codeStyles/codeStyleConfig.xml 
!./.idea/codeStyles/Project.xml 
!./.idea/inspectionProfiles/profiles_settings.xml 
!./.idea/inspectionProfiles/ktlint.xml 
!./.idea/workspace.xml 
build
*.iml
*.project
*.buildship.core.prefs
out
.idea
prebuilts
.DS_Store
local.properties
.gradle
ktlint
google-services.json
