<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright 2015 Google Inc.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto"
    package="io.plaidapp">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Plaid">
        <activity
            android:name=".ui.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/Plaid.Home"
            android:exported="true" />

        <!-- use an alias in case we want to change the launch activity later without breaking
             homescreen shortcuts.  Note must be defined after the targetActivity -->
        <activity-alias
            android:name=".Launcher"
            android:label="@string/app_name"
            android:targetActivity=".ui.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".ui.DribbbleShot"
            android:parentActivityName=".ui.HomeActivity"
            android:theme="@style/Plaid.Translucent.DribbbleShot">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.HomeActivity" />
        </activity>

        <activity
            android:name=".ui.DesignerNewsStory"
            android:parentActivityName=".ui.HomeActivity"
            android:theme="@style/Plaid.Translucent.DesignerNewsStory">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.HomeActivity" />
        </activity>

        <activity
            android:name=".ui.SearchActivity"
            android:launchMode="singleTop"
            android:theme="@style/Plaid.Translucent.Search">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.gms.actions.SEARCH_ACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name=".ui.DribbbleLogin"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Plaid.Translucent.DribbbleLogin">
            <intent-filter>
                <data
                    android:host="dribbble-auth-callback"
                    android:scheme="plaid" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.DesignerNewsLogin"
            android:exported="false"
            android:theme="@style/Plaid.Translucent.DesignerNewsLogin"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.AboutActivity"
            android:theme="@style/Plaid.Translucent.About"
            android:parentActivityName=".ui.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.HomeActivity" />
        </activity>

        <activity
            android:name=".ui.PostNewDesignerNewsStory"
            android:exported="true"
            android:theme="@style/Plaid.Translucent.PostDesignerNewsStory">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <service
            android:name=".data.api.designernews.PostStoryService"
            android:exported="false" />

        <service
            android:name=".data.api.designernews.UpvoteStoryService"
            android:exported="false" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="@string/share_authority"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/glide_disk_cache_path" />
        </provider>

        <!-- Glide configurations for image loading -->
        <meta-data
            android:name="io.plaidapp.util.glide.GlideConfiguration"
            android:value="GlideModule" />
        <meta-data
            android:name="com.bumptech.glide.integration.okhttp.OkHttpGlideModule"
            android:value="GlideModule" />

    </application>

</manifest>
